body {
  margin: 0;
  padding: 0;
}

h2 {margin: 10px;
font-size:15px;}

h3 {
  margin: 10px;
  font-size: 15px;
 }


p {
  margin: 5px;
  font-size: 10px;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family:Arial, sans-serife;
  overflow: auto;
  border-radius: 3px;
}

#features2{
  position: absolute;
  bottom: 30px;
  height: 210px;
  margin-top: 20px;
  width: 300px;
  left: 0px;
  background: #fff;
  margin-right: 20px;
  font-family: 'Unbounded', cursive;;
  overflow: auto;
  border-radius: 3px;
}
}

#features {
  top: 0px;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  padding: 5px 10px 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  height: 100px;
  bottom: 0px;
  right: 0px;
  width: 180px;
}

.legend-key {
  display: inline;
  border-radius: 80%;
  width: 20px;
  height: 20px;
  padding: 5px;
}

#menu {
  position: absolute;
  background: white;
  padding: 10px;
  font-size: 10px;
  width: 500px;
  height: 80px}

  .mapboxgl-ctrl-geocoder {
  width: 400px !important;
}


h4 {
  font-size: 15px;
  line-height: 10px;
  font-family: 'Unbounded', cursive;;
}

p2 {
  font-size: 12px;
  line-height: 0px;
  margin-bottom: 0px;
  font-family: 'Unbounded', cursive;;
}

h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  left: 0px;
  top: 103px;
  
  width: 300px;
  height: 185px;
  margin: 0px;
  padding: 5px 15px;
  background-color: purple;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}  
  
h5 {
  height: 2px;
  
}